<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body{
            background-color: black;
            text-align: center;
        }
        img {
            height: 35%;
            width: 35%;
        }
        p {
            color: rgb(255, 0, 0);
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <img src="static/png-transparent-jester-logo-art-clown-jester-miscellaneous-symmetry-fictional-character-thumbnail-removebg-preview(1).png">
    <p><b>Encrypted files</b></p>
    <p><b>by: 3xpl01ter</b></p>
    <p>__________________</p>
    <p>{{  ip  }}</p>
    <p>{{ city }} | {{ org }}</p>
</body>
</html>